nav {
    color: var(--blue-main);
}

nav h1 {
    color: inherit;
}

.nav-list li {
    color: inherit;
}

#contact-card {
    margin: 10px auto;
    color: var(--blue-main);
    border: 2px solid var(--blue-main);
    max-width: 400px;    
    width: 400px;
    padding: 20px;
    background: linear-gradient(var(--white), var(--blue-light));
}

#email-form {
    margin: 10px auto;
    background: linear-gradient(var(--white), var(--blue-light));
    max-width: 400px;
    height: fit-content;
    padding: 20px;
    border: 2px solid var(--blue-main);
    display: flex;
    flex-direction: column;
    color: var(--blue-main);
    font-size: 1rem;
}

#form-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-element {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-label {
    font-size: 1rem;
}

.form-input {
    outline: none;
    border: 2px solid var(--blue-main);
    background-color: var(--white);
    padding: 5px 10px;
    font-size: 1rem;
    resize: vertical;
}

#form-textarea {
    height: 100px;
}

.form-input::placeholder {
    color: grey;
    font-family: var(--normal-font);
}

#form-button {
    background-color: var(--blue-main);
    padding: 10px 20px;
    font-family: inherit;
    border: none;
    border-radius: none;
    color: var(--white);
}

#form-button:hover {
    background-color: #133B63;
}

.error-div {
    display: block;
    background-color: oklch(88.5% 0.062 18.334);
    padding: 5px 10px;
    color: oklch(25.8% 0.092 26.042);
    border: 2px solid oklch(25.8% 0.092 26.042);
}

.error-div p {
    margin: 0;
}